
.weather {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
transition: width 2s;
  font-size: 42px;
  text-align: center;

}
.temp, .location {
  width: 30%;

  text-align: center;
  margin: 0 auto;
}
